h1 {
	font-size:50px;
	
}
h3 {
	padding-top:20px;
	font-size:35px;
	font-family: 'Alegreya Sans', sans-serif;
}
h4 {
	font-size:25px;
	font-family: 'Alegreya Sans', sans-serif;
}
h4 strong {
	font-size:55px;
}
img {
	padding:60px 30px;
}
.quote {
	padding-top:70px;
	font-family: LMP;
	font-size:45px;
	font-weight:500;
	line-height: 48px
}
a {
	text-decoration: none;
}
@media screen and (max-width: 770px) {
	img {
			display: none;
	}
	h1 {
		font-size:40px;
	}
	h3 {
		font-size:35px;
	}
	h4 {
		font-size:20px;
	}

}

